* {
  margin: 0;
  padding: 0;
}

body {
  background-color: whitesmoke;
}

#topnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e8eff8;
  height: 70px;
  position: fixed;
  width: 100vw;
  z-index: 1;
  animation: topnav-load 2s ease-in;
}

@keyframes topnav-load {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@media only screen and (max-width: 450px) {
  #topnav {
    flex-direction: column;
    height: 70px;
  }
}

#topnav h1 {
  color: #4b2759;
  font-family: "Marck Script", cursive;
  padding: 10px;
  animation: topnav-h1-load 4s ease-in;
}

@keyframes topnav-h1-load {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.navbar {
  animation: topnav-navbar-load 4s ease-in;
}

@keyframes topnav-navbar-load {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.navbar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

@media only screen and (max-width: 450px) {
  .navbar ul {
    margin-bottom: -5px;
  }
}
.navbar ul li {
  margin: 0 5px;
  padding: 0 5px;
  list-style: none;
}

.navbar ul #contact-child {
  display: flex;
  flex-direction: column;
  position: relative;
}

.navbar ul #contact-child .child-links {
  display: none;
  position: absolute;
  bottom: -25px;
  right: -20px;
  text-align: center;
}

.navbar ul #contact-child:hover .child-links {
  display: inline-flex;
  margin: -3px 5px;
  padding: 0 10px;
  list-style: none;
  animation: child-link-display 1s ease-in;
}

@keyframes child-link-display {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.navbar ul #contact-child .child-links li {
  background-color: #888888;
  margin: 2px;
  border-radius: 3px;
  width: 100px;
}

.navbar ul #contact-child .child-links li a {
  text-decoration: none;
  font-family: "Mukta", sans-serif;
  font-size: 14px;
  color: white;
}

.navbar ul li:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px #888888;
  border-radius: 3px;
}

.navbar ul li a {
  text-decoration: none;
  font-family: "Mukta", sans-serif;
  font-size: 17px;
  color: #4b2759;
}

.navbar ul li a:hover {
  text-shadow: 0.5px 0.5px 0.5px;
  font-family: "Mukta", sans-serif;
  font-size: 16px;
  color: #4b2759;
}

#intro {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-image: url(./images/picture-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 1;
  padding: 180px 50px;
  animation: intro-load 1s ease-in;
}

@keyframes intro-load {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@media only screen and (min-width: 880px) {
  #intro {
    flex-direction: row;
  }
}

#intro img {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  object-fit: cover;
}

@media only screen and (min-width: 880px) {
  #intro img {
    margin-right: 40px;
  }
}

#intro .profile-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#intro h2 {
  color: #0061ff;
  margin-top: 40px;
  margin-bottom: 10px;
  font-family: "Titillium Web", sans-serif;
  text-align: center;
  font-size: 30px;
}

#intro p {
  height: auto;
  max-width: 600px;
  text-align: center;
  font-family: "Titillium Web", sans-serif;
  font-size: 20px;
  font-weight: 5px;
  line-height: 2rem;
  letter-spacing: 3px;
  padding: 20px;
  color: #0061ff;
}

.about-me {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  font-size: 15px;
  opacity: 0;
  position: relative;
  transition: all 4s ease-out;
}

.show {
  opacity: 1;
  bottom: 0;
}

.about-me h2 {
  font-family: "Mukta", sans-serif;
  margin-bottom: 20px;
  font-size: 20px;
  color: #0061ff;
}

.about-me p {
  font-family: "Mukta", sans-serif;
  font-size: 17px;
  text-align: justify;
  word-spacing: 3px;
  letter-spacing: 1px;
  max-width: 1200px;
  height: auto;
  line-height: 2rem;
}

#projects {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  padding-top: 30px;
}

#projects h2 {
  color: #0061ff;
  font-family: "Mukta", sans-serif;
  margin-bottom: 20px;
  font-size: 20px;
}

#projects .project-tiles {
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#projects .project-tiles .tiles {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: whitesmoke;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

#projects .project-tiles .tiles img {
  width: 300px;
  height: 300px;
}

#projects .project-tiles .tiles h3 {
  width: 200px;
  height: 200px;
  font-family: "Abril Fatface", cursive;
  margin-top: 15px;
}

#projects .project-tiles .tiles p {
  width: 300px;
  height: 300px;
  font-family: "Open Sans", sans-serif;
  color: #0061ff;
  margin-top: 15px;
}

#certifications {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  margin-top: 20px;
}

#certifications h2 {
  color: black;
  font-family: "Mukta", sans-serif;
  margin-bottom: 20px;
  font-size: 20px;
}

.certified-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.certified {
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #0061ff;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

.certified img {
  width: 300px;
  height: 300px;
}

.certified h3 {
  width: 300px;
  height: 100px;
  font-family: "Open Sans", sans-serif;
  color: black;
  margin-top: 15px;
}

#skills {
  background-color: rgb(236, 231, 231);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  padding-bottom: 40px;
}

#skills h2 {
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  margin-top: 80px;
  margin-bottom: 40px;
  font-weight: bolder;
}

.skills-interest-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.skills-interest {
  width: 350px;
  height: 50px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin: 5px 10px;
}

.skills-interest .toggler {
  width: 25px;
  height: 25px;
  background-color: lightgray;
  border-radius: 5px;
  margin-right: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.skills-interest .toggler {
  color: gray;
}

.skills-interest .toggler:hover {
  color: black;
}

.skills-interest .toggler:hover {
  background-color: #0061ff;
}

.skills-interest h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  color: #2c518d;
  letter-spacing: 2px;
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow-x: hidden;
  padding-bottom: 40px;
}

#contact h2 {
  color: #0061ff;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  margin-top: 80px;
  margin-bottom: 40px;
  font-weight: bolder;
}

#contact .background-sect {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

#contact .background-sect a {
  text-decoration: none;
  color: #0061ff;
  font-size: 25px;
}

#contact .background-sect .background {
  background-color: white;
  border-radius: 50%;
  box-shadow: 2px 2px 2px 2px rgb(172, 170, 170);
  width: 70px;
  height: 70px;
  margin: 5px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
}

.copyright a {
  display: flex;
  text-decoration: none;
  color: #0061ff;
  font-family: "system-ui";
  font-size: 17px;
}

.copyright .uparrow {
  background-color: #0061ff;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.copyright a .uparrow i {
  transform: scale(1.5);
  color: white;
}
